body {
	margin:30px 40px 10px 40px;
	background-color:#f0efff;
}

.piechart {
	margin-left:auto;
	margin-right:auto;
	width:60%
}

h2,h3 {
	font-family: "Arial";
}

p {
	font-family: "Arial";
	font-size: 16px;
	text-align:left;
}

.quelle {
	font-family: "Arial";
	font-size: 10px;
	margin-left: 35px;
}

.logo {
	float: right;
	margin-left: 10px;
	margin-top: -10px;
} 

.worldmap {
	margin-left:auto;
	margin-right:auto;
	width:90%;
}

.mapcaption {
	font-family: "Arial";
	font-size: 12px;
	text-align: center;
}

#Footer {
	font-family: "Arial";
	font-size: 12px;
	text-align:center;
	margin:20px 0px 0px 0px;
}